

html {
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

h2 {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}

span {
    color: hsl(277, 64%, 61%);
}

section {
    margin: 20% auto 20% auto;
    text-align: center;
    display: flex;
    border-radius: 20px;
}

.cover {
    background:url("./img/image-header-mobile.jpg");
    background-repeat: no-repeat;
    filter: opacity(0.5) drop-shadow(0 0 0 hsl(277, 64%, 61%)) saturate(210%);
}



.description {
    background-color: hsl(244, 38%, 16%);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 91.66%;
  }

  section {
      display: block;
  }

  section .cover {
      margin: 0;
      height: 400px;
  }

  section .description {
      margin: 0;
  }
}
